.bower
logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
/nbproject/private/
/mob/www/LTB-dependencies/
/mob/www/
/cordova/plugins/
/cordova/platforms/
/npm-debug.log
/phonegap/settings.json
/phonegap/www.zip
/phonegap/www/
/app/www/settings/local_settings.json