/* 
    Created on : 27-feb-2016, 17:30:45
    Author     : Raymond
*/

.wordwrap {
    display: inline-table;
}

alerts{
    position: absolute;
    width: 100%;
    z-index: 1100;
    left: 0px;
    top: 10px
}

.fade-out{ 
    -webkit-transition: all linear 2s;
    -moz-transition: all linear 2s;
    -o-transition: all linear 2s;
    transition: all linear 2s;
    display: block!important;
    opacity: 0;
}

/*
.fade-out{ 
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block!important;
    opacity: 0;
}
*/
.smalltag{
    margin: 2px;
}

.emulator_sidebar{
    float: right;
    margin-right: -18px;
    margin-top: 150px;
}

.emulator_sidebar .btn{
    height: 60px;
    width: 12px;
    font-size: 8px;
    padding: 1px;
}

// below from http://www.bootply.com/123350 but added mason after row and brick after panel so it's not used on every row and panel
*, *:before, *:after {box-sizing:  border-box !important;}

.rowmason {
	-moz-column-width: 15em;
	-webkit-column-width: 15em;
	column-width: 15em;
	-moz-column-gap: .5em;
	-webkit-column-gap: .5em; 
	column-gap: .5em;
}

.panelbrick {
	display: inline-block;
	margin:  .5em;
	padding:  0; 
	width: 98%;
}
// above from http://www.bootply.com/123350

.frontpaneldetails .text-info {
	font-style: italic;
}

.frontpaneldetails .owner {
	font-weight: bold;
}

.frontpaneldetails .paneltags {
	padding-top: 12px;
}

.frontpanel > .panel-heading {
	font-size: 19px;
	font-weight: 400;
}

.centered {
	text-align: center;
}

